

<div class="container">
<h1>Start your own Book Club!</h1>
<%= bootstrap_form_for @club do |f| %>

	<%= f.text_field :name, icon: "pencil" %>

	
	<%= f.text_area :blurb, icon: "pencil" %>


	<%= f.primary %>
<% end %>
</div>
<%= image_tag("stackedbooks.png", class: "stacked") %>



