<div class="container">
	<div class="well">
		
		<h1><%= @club.name %></h1>

		<p><i>about us: </i><%= @club.blurb %></p>


		<h5>Club Members:</h5>
		<p><% @club.users.each do |u| %></p>
			<a href="/users/profile/<%= u.id %>"><%= u.name %></a>
			<% if u.id == @club.owner %>
				<p>(Club Admin)</p>
			<% end %>
		<% end %>

		<br>
		<h4>Books in Our Club</h4>
		<% @club.books.each do |b| %>
			<a href="<%= @club.id %>/book/<%= b.id %>/">| <%= b.title %> |</a>
		<% end %>
		<br>
		<% if @current_user.id == @club.owner %>

			<%= link_to 'Delete Club', @club, method: :delete, class: 'btn btn-danger' %>
		<% end %>	

		<%= if @club.users.find_by_id(@current_user.id) then link_to 'Leave Club', {controller: 'clubs', action: 'quit_club'}, method: :delete, class: 'btn btn-warning' end %>

		<%= unless @club.users.find_by_id(@current_user.id) then link_to 'Join Club', @join, method: :put, class: 'btn btn-info' end %>
	</div>
</div>


