<div class="parallax">
  <div id="group1" class="parallax__group">  
    <div class="parallax__layer parallax__layer--base">
      <img width=100% src="https://img.buzzfeed.com/buzzfeed-static/static/2015-02/23/14/enhanced/webdr08/enhanced-buzz-wide-26665-1424720434-11.jpg?no-auto">  
    </div>
    <div class="parallax__layer parallax__layer--fore">
      <div class="jumbotron heading">  
        <div class="container">  
          <h1>ReadMe</h1>
          <%=link_to "Login", login_path, class: "btn btn-success" %>
          <%=link_to "Sign Up", signup_path, class: "btn btn-danger" %>
          <%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
          <% if @current_user %>
            <%= link_to "Logout", auth_logout_path, class: "btn btn-warning" %>
          <% end %>
          <% if @current_user %>
            <div class="well">  
              Current User:
              <%= @current_user.name %>
            </div>   
          <% end %>
          
        </div>
      </div>  
    </div>
  </div>
<!--  <div> -->
  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <img width=100% src="https://img.buzzfeed.com/buzzfeed-static/static/2015-02/24/17/enhanced/webdr08/enhanced-buzz-wide-16669-1424818241-53.jpg?no-auto">
    </div>
    <div class="parallax__layer parallax__layer--fore">
      <div class="well heading2 container"> 
        <h1>About ReadMe</h1>
        <p>ReadMe is a place enthusiastic readers can go to find books, form groups, and discuss in a bookclub format!</p>
      </div>  
    </div>
  </div>
  <div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <img width=100% src="https://img.buzzfeed.com/buzzfeed-static/static/2015-02/25/11/enhanced/webdr02/enhanced-buzz-wide-683-1424882363-7.jpg?no-auto">
    </div>
    <div class="parallax__layer parallax__layer--fore">
      <div class="well heading2 centerit container"> 
        <h1>Meet The Developers</h1>  

        <%= image_tag 'groupbanner.png', class:'groupbanner' %>
          <div class="row group">
            <div class="col-md-3">  
              <h4>Ethan Young</h4>
              <p>Ethan is a book enthusiast and web developer in the greater Seattle area. He  enjoys discovering new sci-fi and fantasy novels.</p>
            </div>  
            <div class="col-md-3">  
              <h4>Rachel Hanna</h4>
              <p>Rachel is a web developer in the Seattle area. Aside from Ruby, Javascript, HTML and CSS, she can also read and write in Latin and Greek.</p>
            </div>  
            <div class="col-md-3">  
              <h4>Ella Erickson</h4>
              <p>Ella is a book lover and web developer based in Seattle. Aside from books, she loves coffee, her two cats, and long walks on the beach. </p>
            </div>    
            <div class="col-md-3">  
              <h4>Michael Hurley</h4>
              <p>Michael is a Seattle-based web developer. When he's not coding, you can find him trying to make people laugh, snapping photos, or awkwardly dancing at indie rock concerts.</p>
            </div>  
          </div>
        </div>  
      </div>  
    </div>
  </div>

