<h1>Comments </h1>
	<div>
		<p><%= @club.name%></p>
		<p><%= @book.title%></p>
		<p><%= @topic.title %></p>
	</div>
	<% @arr.each do |comment, user| %>
		<div>
			<p><%= comment.content %></p>
			<p><%= user.name%></p>
		</div>
	<% end %>


	<%= form_for @post, :url => create_comment_path do |f| %>

		<%= f.label :content, 'Comment:'%>
		<%= f.text_field :content%>

		<%= f.submit %>


	<% end %>