<h1>Comments </h1>
	<div>
		<p><%= @club.name%></p>
		<p><%= @book.title%></p>
		<p><%= @topic.title %></p>
	</div>
	<% @arr.each do |comment, user| %>
		<% if user %>
		<div>
			<p><%= comment.content %></p>
			<p><%= user.name%></p>
			<% if user.id == @current_user.id %>
				<p><%= link_to "Edit", edit_comment_path(@club, @book, @topic, comment) %></p>
			<% end %>
		</div>
		<% end %>
	<% end %>


	<%= form_for @post, :url => create_comment_path do |f| %>

		<%= f.label :content, 'Comment:'%>
		<%= f.text_area :content%>

		<%= f.submit %>


	<% end %>