<div class="container">
	<div class= "topic_header page-header">
		
		<h3><a href="/clubs/<%= @club.id%>"><%= @club.name%></a></h3>
		<h2><%= @topic.title %><small> discussion thread for <a href="/clubs/<%= @club.id%>/book/<%= @book.id %>"><%= @book.title%></small></a></h2>
	</div>
	<% @arr.each do |comment, user| %>
		<% if user %>
		<div class = "well post_well">
			<small><p class="commenting"><%= comment.content %></p></small>
			<small><p class="author">~ <%= user.name%></p></small>
			<% if @current_user %>
			<% if user.id == @current_user.id %>
				<p class= "comment_edit"><%= link_to "Edit", edit_comment_path(@club, @book, @topic, comment), class: 'btn btn-warning btn-xs' %></p>
			<% end %>
			<% end %>
		</div>
		<% end %>
	<% end %>
<% if @current_user %>
<div class="form_container">
	<%= bootstrap_form_for @post, :url => create_comment_path do |f| %>

		<%= f.label :content, 'New Comment:'%>
		<%= f.text_area :content%>

		<%= f.submit class: "btn btn-info" %>


	<% end %>
	</div>
	<% end %>
</div>