<div class="container">
<div class= "topic_header page-header">
	<h2><small>Discussions about</small> <%= @book.title%> <small>in <%= @club.name%></small> </h2>
	
</div>
		<% @topics.each do |topic| %>
			<div class="well post_well">
				<p><a class="topic_link" href = "/clubs/<%= @club.id %>/book/<%= @book.id%>/topic/<%= topic.id%>/"><small>Topic: </small><%= topic.title %></a></p>
			</div>
		<% end %>

<% if @current_user %>
<div class="form_container">
<%= bootstrap_form_for @top, :url => create_topic_path do |f| %>

		<%= f.label :title, 'New Topic: '%>
		<%= f.text_field :title, class: "new_text_field" %>
	

		<%= f.submit class: "btn btn-info" %>


	<% end %>

	</div>

	<% end %> 
	</div>