<div class= "topic_header page-header">
	<h1>Topics</h1>
	<h1><%= @club.name%> <small><%= @book.title%> </small></h1>
</div>
		<% @topics.each do |topic| %>
			<div class="well post_well">
				<p><a class="topic_link" href = "./topic/<%= topic.id%>/"><%= topic.title %></a></p>
			</div>
		<% end %>

<% if @current_user %>
<div class="form_container">
<%= bootstrap_form_for @top, :url => create_topic_path do |f| %>

		<%= f.label :title, 'New Topic: '%>
		<%= f.text_field :title, class: "new_text_field" %>
	

		<%= f.submit class: "btn btn-info" %>


	<% end %>

	</div>

	<% end %> 