<h1>Books</h1>

<img src="<%= @response["items"][0]["volumeInfo"]["imageLinks"]["thumbnail"] %>">

<p><%= @response["items"][0]['volumeInfo']['title'] %></p>
<p><%= @response["items"][0]['volumeInfo']['authors'][0] %></p>
<p><%= @response["items"][0]['volumeInfo']['description']%></p>
<p><%= @response["items"][0]['volumeInfo']['readingModes']["pageCount"] %></p>
<p><%= @response["items"][0]['volumeInfo']['categories'][0] %></p>
<p><%= @response["items"][0]['volumeInfo']['publishedDate'] %></p>
